@font-face {
	font-family: 'Miama';
	src: url('wedding-invite/fonts/Miama.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cascadia';
	src: url('wedding-invite/fonts/CascadiaCode.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Abhaya';
	src: url('wedding-invite/fonts/AbhayaLibre-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Abhaya-bold';
	src: url('wedding-invite/fonts/AbhayaLibre-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-soft: #f7f7f7;
	--color-gray: #a2b5cd;
	--color-dark-gray: #50485f;
	--color-purple: #9198e5;
	--color-dark-purple: #37156d;
	--color-pink: #ff99dd;
	--color-soft-pink: #f9d2db;
	--color-brown: #6c3f2b;
	--color-pink-dark: #a38991;
	--color-dark-green: #65967c;
	--color-green: #98e2bb;
	
  }
  

h1 {
	text-align: center;
	font-family: 'Miama';
	font-size: 10vh;

	background: linear-gradient(0.25turn, #e66465, var(--color-purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	line-height: 1.2;
	word-wrap: break-word;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: -20px;
	transition: all 0.3s ease;

}


body {
	text-align: center;
	font-family: 'Abhaya';
	background-color: linear-gradient(172deg, #f0f0e4 50%, var(--color-dark-gray) 300%);
	font-size: 1.5vh;
	color: var(--color-dark-gray);
	font-family: Arial, sans-serif;
}

p {
	font-family: 'Abhaya';
	margin: 0;
}

p2 {
	font-family: 'Miama';
	font-size: 7vh;
	margin-top: 200px;
	margin-bottom: 20vh;
}

a {
	font-family: 'Abhaya';
	color: var(--color-soft-pink);
	text-decoration: none;
  }  

div {
	font-family: 'Abhaya';
}

.addUpperSpace {
	margin-top: 200px;
	margin-bottom: 20vh;
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 50px auto;
	max-width: 50vh;
  }
  .grid-item {
	padding: 2px;
	text-align: center;
  }
  
/* Maps */
#map-container {
	width: 50vh;
	height: 50vh;
	margin: 0 auto;
  }
  
#map {
	width: 100%;
	height: 100%;
  }
  
.pink {
	color: var(--color-pink-dark);
}
.green {
	color: var(--color-dark-green);
}
.color-def {
	color: var(--color-dark-gray);
}

/* Footer place */  
  html,
  body {
	height: 100%;
  }
  
  section {
	/* position: fixed;  Esto hace que se quede anclado simpre al pie de la página visible */
	left: 0;
	bottom: 12px;
	width: 100%;
	background: var(--color-dark-green);
	padding-top: 60px;
  }
  
  footer {
	display: flex;
	align-items: flex-start;
	gap: 40px;
	margin: 0 30px;
  }
  
  @media (width < 620px) {
	footer {
	  flex-direction: column;
	}
  
	footer.bottom {
	  gap: 16px;
	  flex-direction: column-reverse;
	}
  }
  
  footer > img {
	margin-top: 10px;
	width: 200px;
	height: auto;
  }
  
  @media (width >= 620px) {
	footer {
	  margin: 0 auto;
	  max-width: 600px;
	  padding: 0;
	}
  }
  
  footer {
	color: var(--color-soft-pink);
  }
  
  footer.top {
	border-bottom: 2px solid var(--color-soft-pink);
	padding-bottom: 20px;
  }
  
  footer.bottom {
	padding: 20px 0;
	justify-content: space-between;
  }
  
  footer.top .links {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
  }
  
  .links > div {
	display: grid;
	gap: 10px;
	margin-bottom: 30px;
  }
  
  footer h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	color: var(--color-soft);
  }
  
  .legal {
	font-size: 12px;
  }
  
  .legal > a {
	margin: 0 4px;
  }
  
  .legal > span {
	margin-right: 10px;
  }
  
  footer.bottom .links {
	display: flex;
	gap: 18px;
  }
  
  footer.bottom .links > a {
	font-size: 20px;
  }
  
  @media (width < 420px) {
	footer {
	  text-align: center;
	  align-items: center;
	}
  
	footer.top .links {
	  grid-template-columns: 1fr;
	}
  
	footer.bottom {
	  align-items: center;
	}
  
	.legal > span {
	  display: block;
	  margin-right: 0;
	  margin-bottom: 2px;
	}
  }

  .material-icons {
	font-size: 24px;
  }
  
/* Parallax */
.parallax {
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax p {
	color: #fff;
	font-size: 3rem;
	background-color: rgba(47, 79, 79, 0.5);
	text-decoration: overline underline;
}

.parallax2 {
	background-size: 90%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#section0 {
	background-image: url('/wedding-invite/images/Rubén\ &\ Dalia.png');
}

#section1 {
	background-image: url('/wedding-invite/images/Iglesia_San_Fermin_de_los_Navarros.jpg');
}

#section2 {
	background-image: url('/wedding-invite/images/abc_serrano.jpg');
}

